@charset "UTF-8";
body {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgba(0,147,147,1.00);
}

.navbar-light .navbar-brand{
	color: rgba(0,126,126,1.00);
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 1.5rem;
}
.navbar-light .navbar-brand:hover{
	color: rgba(35,154,154,1.00);
}
.carousel-caption{
	text-shadow: 2px 2px 3px #000;
}
#logo {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
}
#video{
	margin-bottom: 30px;
}

#leftSec {
	width: 28%;
	margin-left: 3%;
	margin-right: 1.5%;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
}
#leftSec h1 {
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	color: rgba(255,255,255,1.00);
	font-style: normal;
	font-size: 2rem;
	text-shadow: 3px 3px 5px rgba(0,0,0,1.00);
}
#rightSec {
	width: 55%;
	margin-left: 1.5%;
	margin-right: 3%;
	padding-left: 2%;
	padding-right: 2%;
	float: right;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.50) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.50) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.50) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.50) 100%);
	padding-top: 20px;
	padding-bottom: 30px;
	margin-bottom: 100px;
	border-top-right-radius: 40px;
}
#rightSec h2 {
	text-align: center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	color: rgba(0,0,0,1.00);
	font-style: normal;
	font-size: 1.5rem;
}
p {
	color: rgba(0,0,0,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-size: 1rem;
	line-height: 135%;
}
footer {
	clear: both;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	padding-top: 40px;
}

/* === Form Style === */

label, input, textarea{
	width:100%;
}


@media (max-width:650px){
body {
	background-image: none;
}
#leftSec {
	width: 90%;
	margin-right: 3%;
	margin-left: 3%;
	padding-left: 2%;
	padding-right: 2%;
}
#rightSec {
	width: 90%;
	margin-right: 3%;
	margin-left: 3%;
	padding-left: 2%;
	padding-right: 2%;
}	
}
